APP_ENV=production
APP_DEBUG=false
APP_URL={{app_app_url}}
APP_KEY={{app_app_key}}

DB_DRIVER={{app_db_driver}}
DB_HOST={{app_db_host}}
DB_DATABASE={{service}}
DB_USERNAME={{service}}
DB_PASSWORD={{database_password}}
DB_PORT={{app_db_port}}
DB_PREFIX=null

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync
CACHET_EMOJI=false

MAIL_DRIVER={{app_mail_driver}}
MAIL_HOST={{app_mail_host}}
MAIL_PORT={{app_mail_port}}
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ADDRESS={{app_mail_address}}
MAIL_NAME=null
MAIL_ENCRYPTION={{app_mail_encryption}}

REDIS_HOST=null
REDIS_DATABASE=null
REDIS_PORT=null

GITHUB_TOKEN=null
