[{{pool}}]

user = {{ options.www_user |default('www-$pool') }}
group = {{ options.user |default('$pool') }}

listen = /run/php/php7.0-fpm-$pool.sock
listen.owner = {{ options.www_user |default('www-$pool') }}
listen.group = {{ options.user |default('$pool') }}
listen.mode  = 0660

prefix = {{ options.wwwdir |default('/var/www/$pool/www/') }}
{% if options.chroot is defined and options.chroot %}
chroot = {{ options.wwwdir |default('/var/www/$pool/www/') }}
{% endif %}

pm = ondemand
pm.max_children = {{php_fpm_max_children}}
pm.process_idle_timeout = {{php_fpm_process_idle_timeout}}

pm.status_path = /fpm-status
ping.path = /fpm-ping

; For debuging purposes.
;access_log = /log/php_access.log
;slowlog = /log/php/php_slow.log
;request_slowlog_timeout = 5s

; Restrictions
php_admin_value[open_basedir]       = /usr/share/php:/tmp:/dev/urandom:{{ options.wwwdir |default('/var/www/$pool/www/') }}{% if options.extra_open_basedir is defined %}:{{ options.extra_open_basedir }}{% endif %} ; if not chrooted
php_admin_value[max_execution_time] = {{php_max_execution_time}}
php_admin_value[max_input_time]     = {{php_max_input_time}}
php_admin_value[disable_functions]  = {{php_disable_functions |join(',')}}
php_admin_value[memory_limit]       = {{php_memory_limit}}

; Logging
php_admin_value[display_errors]  = Off
php_admin_value[display_startup_errors] = Off
php_admin_value[log_errors]      = On
;php_admin_value[error_log] = /log/php_error.log
;php_admin_value[mail.log] = /log/php_mail.log

php_admin_value[sendmail_path] = /usr/sbin/sendmail -t -i -f {{ options.user |default('$pool') }}
{% if options.extra_directives is defined %}

{% for directive in options.extra_directives %}
{{directive}}
{% endfor %}
{% endif %}
