[Unit]
Description=mastodon-web
After=network.target
PartOf={{service}}.target

[Service]
Type=simple
User={{service}}
Group={{service}}
UMask=0027
WorkingDirectory=/var/www/{{service}}/www/
Environment="RAILS_ENV=production"
Environment="PORT=3000"
#Environment="RAILS_LOG_LEVEL=warn"
ExecStart=/bin/bash -lc "bin/bundle exec puma -C config/puma.rb"
ExecReload=/bin/kill -SIGUSR1 $MAINPID
TimeoutSec=15
Restart=always
#StandardOutput=append:/var/www/{{service}}/www/log/puma.log
#StandardError=append:/var/www/{{service}}/www/log/puma.log
SyslogIdentifier=%p

[Install]
WantedBy={{service}}.target
