object User "techadmin" {
  import "generic-user"

  display_name = "techadmin"
  groups = [ "admins" ]

  email = "{{admin_email |mandatory}}"
  vars.jid = "{{sendxmpp_room |mandatory}}"
}

object UserGroup "admins" {
  display_name = "Admin group"
}
